head,
body {
  height: 100%;
}


body {
  background: #ddd;
}

.container {
  width: 538px;
}

section,
aside {
  /*margin: 10px;*/
  margin: 1.858736059%; /*  10px ÷ 538px = .018587361 */
}

section {
  background: #008000;
  float: left;
  /*margin: 340px;*/
  width: 63.197026; /* 340px ÷ 538px = .63197026 */
  height: 50%;
}

aside {
  background: #00F;
  float: right;
  /*margin: 158px;*/
  width: 29.3680297%; /* 158px ÷ 538px = .293680297 */
  height: 50%;
}

/* Default styles first then media queries */

/*==========================================MEDIA QUERY=================================*/

@media all and (max-width: 420px) {
  section, aside {
    float: none;
    width: auto;
}
}

@media all and (min-width: 420px) {
  .container {
    max-width: 538px;
}

@media all and (orientation: landscape) {
  .container {
    width: auto;
}
  
@media all and (max-width: 420px) {
  section, aside {
    float: none;
    width: auto;
  }
}
/* Below we've added a background image for when the device is larger than8 800px and smaller than 1024, otherwise for smaller devices there wont be an image just a background color */
@media screen and (min-width: 800px) and (max-width: 1024px) {
  body {
    background: url("http://wallpapercave.com/wp/7jlmU6w.jpg") 50% 50% no-repeat;
  }
}

/*theres a technique called "mobile first" which means styling the markup with the mindset of appealing to a smaller device and then using media query to be triggered for bigger devices*/

/* Below are example properties if you were to implement the "mobile first" technique*/

/*@media screen and (min-width: 400px)  {
}
@media screen and (min-width: 600px)  {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1400px) {
}

/*Commenting this out because I believe Shay is just using this as an example of what it would like to use the media Rule in your existing CSS sheet

/* @media Rule */
/*  @media all and (max-width: 1024px) {
  
} */

/*Commenting this out because I believe Shay is just using this as an example of what it would like to use the media Rule by importing a new style sheet

/* @import Rule */
/*@import url(styles.css) all and (max-width: 1024px) {
  
}

/*the and logic allows an extra condition to be added*/
/*@media all and (min-width: 800px) and (max-width: 1024px) {
  
}
/*this logic applies to everything but a screen with color*/
/*@media not screen and (color) {
  
}
/*this logic is used for screens that dont support media queries*/
/*@media only screen and (orientation: portrait) {
  
}*/