head,
body {
  height: 100%;
}


body {
  background: #ddd;
}

.container {
  width: 538px;
}

section,
aside {
  /*margin: 10px;*/
  margin: 1.858736059%; /*  10px ÷ 538px = .018587361 */
}

section {
  background: #008000;
  float: left;
  /*margin: 340px;*/
  width: 63.197026; /* 340px ÷ 538px = .63197026 */
  height: 50%;
}

aside {
  background: #00F;
  float: right;
  /*margin: 158px;*/
  width: 29.3680297%; /* 158px ÷ 538px = .293680297 */
  height: 50%;
}

/*==========================================MEDIA QUERY=================================*/

@media all and (max-width: 420px) {
  section, aside {
    float: none;
    width: auto;
}

@media all and (min-width: 420px) {
  .container {
    max-width: 538px;
}

  
/* Media for larger devices */
@media screen and (min-width: 800px) {
  body {
    background-image: url("bg.png") 50% 50% no-repeat;
  }
}

/* Default styles first then media queries */
@media screen and (min-width: 400px)  {
  
}
@media screen and (min-width: 600px)  {
  
}
@media screen and (min-width: 1000px) {
  
}
@media screen and (min-width: 1400px) {
  
}

/* @media Rule */
/*Commenting this out because I believe Shay is just using this as an example of what it would like to use the media Rule in your existing CSS sheet

  @media all and (max-width: 1024px) {
  
} */

/* @import Rule */
/*@import url(styles.css) all and (max-width: 1024px) {
  
}
/*the and logic allows an extra condition to be added*/
/*@media all and (min-width: 800px) and (max-width: 1024px) {
  
}
/*this logic applies to everything but a screen with color*/
/*@media not screen and (color) {
  
}
/*this logic is used for screens that dont support media queries*/
/*@media only screen and (orientation: portrait) {
  
}*/